/* Container for the blog details */
.blgdtls-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  background-color: #fff;
  border-radius: 10px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  color: #333;
}

/* Blog Image Styling */
.blgdtls-image {
  width: 760px;
  height: 410px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Blog Title Styling */
.blgdtls-container h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Container for the author's image, name, and date/time */
.blgdtls-author-time-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Author's image styling */
.blgdtls-author-container {
  display: flex;
  align-items: center;
}

.blgdtls-author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid #ddd;
}

/* Author's name styling */
.blgdtls-author {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  font-style: italic;
}

/* Date and Time styling */
.blgdtls-date-time {
  font-size: 16px;
  color: #888;
  font-style: italic;
  text-align: right;
}

/* Content section styling */
.blgdtls-content {
  font-size: 18px;
  line-height: 1.6;
  color: #444;
  text-align: justify;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
  .blgdtls-image {
    width: 100%;
  }
  .blgdtls-author-time-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .blgdtls-author-image {
    margin-bottom: 10px;
  }
  .blgdtls-content {
    font-size: 16px;
  }
}

pre {
  white-space: pre-wrap; /* Enable wrapping */
  word-wrap: break-word; /* Break long words if necessary */
  font-family: inherit; /* Use the same font as the rest of your app */
}
